.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/
.github/
_multiconfig.yml
_config.landscape.yml

# themes
themes/.gitkeep
themes/next/crowdin.yml   
themes/next/renovate.json 
themes/next/_vendors.yml 
themes/next/.gitattributes
themes/next/.eslintrc.json
themes/next/.editorconfig
themes/next/.stylelintrc
themes/next/package.json 
themes/next/layout/        
themes/next/languages/     
themes/next/scripts/       
themes/next/test/
themes/next/source/